*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #6c6a6a;
  
}


.count {
  display: flex;
  justify-content: center;
  align-items: end;
 font-size: 150px;
  font-weight: bold;
 height: 400px;
 color: rgb(61, 46, 46);
}
.buttons {
  
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
} 
button{
  margin: 20px;
 padding: 30px;
 font-size: 50px;
 text-align: center;
 height: 100px;
  width: 200px;
  background-color: rgb(84, 68, 68);
  border-radius: 15px;
  border-color: rgb(68, 70, 72);
  font-weight: bold;
}
